@import "../../base";

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &_edit {
    color: $color-primary;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }

  &_delete {
    color: orangered;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

// .delete-btn {

// }

// .edit-btn {

// }
