@import "../../base";

.addModal {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 1000;
  background: #6b63ff49;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100vh;
  padding: 3vw;

  &__content {
    width: 70vw;
    height: 90vh;
    background-color: white;
    border-radius: 20px;
    justify-items: center;
    padding: 30px;
    padding-top: 5px;
    z-index: 10000;
    // overflow: auto;

    &--desc {
      position: relative;
      display: grid;
      align-items: center;
    }

    &--preview {
      height: auto;
      width: 100%;
      border-radius: 10px;
    }

    &--padding {
      display: grid;
      gap: 20px;
      width: 400px !important;
    }

    &--header {
      display: grid;
      // grid-auto-flow: column;
      color: $color-primary-dark;
      justify-items: center;
      h3 {
        margin: 0px;
        line-height: 18px;
      }
      small {
        border-radius: 7px;
        padding: 0px 10px;
        line-height: 26px;
        color: rgb(121, 121, 121);
      }
      &-h2 {
        color: $color-primary-dark;
      }
    }

    &--body {
      display: grid;
      gap: 20px;
      overflow: auto;
      height: 62vh;
      background-color: $color-primary-light;
      border-radius: 10px;
      padding: 10px;
      // box-shadow: 0px 2px 3px gray;
    }

    &--input {
      display: grid;
      // justify-content: center;

      &-1 {
        height: 45px;
        // max-width: 450px;
        width: 100% !important;
        min-height: 45px;
        border: 2px solid $color-primary-light-1;
        padding: 7px 10px;
        border-radius: 10px;
        font-family: myFont;
        font-size: 15px;
      }

      &-delete {
        color: orangered;
        position: absolute;
        right: 10px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-5px) scale(1.1);
          // box-shadow: 0px 5px 10px gray;
          // border-radius: 5px;
        }
      }

      &-label {
        color: $color-primary-dark;
        font-weight: 600;
        line-height: 21px;
      }

      &-editor {
        width: 100% !important;
        height: 250px !important;
      }
    }

    &--footer {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      gap: 30px;
      padding-top: 30px;

      &-btn {
        height: 40px;
        width: 100px;
        background-color: $color-primary !important;
        color: white;
        border-radius: 10px !important;
        border: none;
        cursor: pointer;
        font-family: myFont;
        font-size: 18px;
        transition: all 0.2s;

        &:hover {
          transform: translateY(-5px) scale(1.1);
          box-shadow: 0px 5px 10px gray;
        }

        &-close {
          background-color: white !important;
          border: 2px solid $color-primary;
          color: $color-primary;
        }
      }
      &-delete {
        padding-top: 0px !important;
      }
    }
  }
}

.deleteModal__content {
  background-color: white;
  border-radius: 10px;
  padding: 30px 50px;
}

.tox-tinymce {
  width: 100% !important;
}
